# Configurações do Telegram
TELEGRAM_BOT_TOKEN="SEU_TOKEN_AQUI"

# Configurações do Banco de Dados
SUPABASE_URL="SUA_URL_SUPABASE"
SUPABASE_SERVICE_KEY="SUA_CHAVE_PRIVADA_SUPABASE"

# Configurações de Inteligência Artificial
GEMINI_API_KEY="SUA_CHAVE_GOOGLE_GEMINI"


